# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environment
# ----------------------------
venv/
env/
ENV/
.venv/

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Dataset Files (NASA C-MAPSS)
# ----------------------------
data/*.txt
data/raw/
data/processed/

# ----------------------------
# Model Files
# ----------------------------
*.pkl
*.joblib
*.h5
*.model

# ----------------------------
# Output Files
# ----------------------------
outputs/
results/
plots/
*.png
*.jpg

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp
